/*
Estilos da pagina index.html
*/
.center {
    text-align: center;
}
.justify {
    text-align: justify;
}
 .interface{
    width: 1000px;
    background-image:url("../img/LayoutDungeon.jpg");
    background-color: rgb(116, 0, 0);
    background-repeat: no-repeat;
    background-position: center;
    background-attachment: fixed;
    height: auto;   
    padding: 10px;
    margin: 0px auto 0px auto;
} 
body 
{
  background-color: rgb(217, 255, 0);
  background-image:url("../gif/fogo.gif");
  background-repeat: no-repeat;
  background-position: bottom right;
  margin-right: 40px;
  background-attachment: fixed;
}
.container{
display: flex;
flex-flow: row;
justify-content: center ;
align-items: center;
}
#menu li{
    display: inline;
    padding: 30px;
    margin: 0;

}

#menu li a{
    text-decoration: none;
    color: rgb(255, 255, 255);
    font-size: 35px;
    margin: 0;
    padding: 0;
}
#menu li a:hover{
    color: darkred;
    cursor: pointer;
    margin: 0;
    padding: 0;
}
.p-30 {
    padding: 30px;
    
}

/*
Estilos da pagina contato.html
*/

.button {
    background-color: #1A0F0F; /* preto */
    border: none;
    color: red;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
  }